@use 'tailwindcss';
@use '@angular/material' as mat;

:root {
  --bg-dark: oklch(0.92 0 109);
  --bg: oklch(0.96 0 109);
  --bg-light: oklch(1 0 109);
  --text: oklch(0.15 0 109);
  --text-muted: oklch(0.4 0 109);
  --border: oklch(0.6 0 109);
  --border-muted: oklch(0.7 0 109);
  --primary: oklch(0.4 0.1 109);
  --secondary: oklch(0.4 0.1 289);

  @include mat.table-overrides(
    (
      background-color: var(--bg-light),
      header-headline-color: var(--text),
      row-item-label-text-color: var(--text-muted)
    )
  );

  @include mat.icon-overrides(
    (
      color: var(--primary)
    )
  );

  @include mat.tooltip-overrides(
    (
      container-color: var(--bg-light),
      supporting-text-color: var(--text)
    )
  );
}

.app-background {
  background: var(--bg-dark);
}

.app-card {
  @apply rounded-2xl p-4;
  background: var(--bg);
}

.app-card-light {
  @apply rounded-2xl p-4 m-2;
  background: var(--bg-light);
}

.card-title {
  @apply font-medium text-3xl mb-2;
  color: var(--text);
}

.btn-primary {
  @apply px-4 py-2 rounded-2xl font-medium cursor-pointer bg-transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.btn-primary:hover {
  @apply transition-all;
  background: var(--primary);
  color: var(--bg-light);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
